<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.activiti.z_six.mapper.processMapper.ProcessManageMapper">
    <select id="processManageList" parameterType="com.activiti.z_six.entity.process.ProcessManage"
            resultType="com.activiti.z_six.entity.process.ProcessManage">
        select a.proc_inst_id_,a.business_key_,a.name_,a.start_time_,a.start_user_id_,a.end_time_,
               a.delete_reason_,b.title,c.name as startname,d.key_ from act_hi_procinst a
                   left join ac_sl_generwork b on a.proc_inst_id_=b.proce_inst_id
                   left join sys_user c on a.start_user_id_=c.username
                   left join act_re_procdef d on a.proc_def_id_=d.id_
            where 1=1
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ IS NOT NULL
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='deleteTask'
        </if>
        <if test="flowName!='' and flowName!=null and flowName!='all'">
            and a.NAME_ like concat('%',#{flowName},'%')
        </if>
        ORDER BY  a.start_time_ DESC
    </select>
    <select id="getTaskManageListPage" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.PROC_INST_ID_ as proce_inst_id, a.ID_ as taskid,d.NAME_ as flowName,a.NAME_ as taskName,d.START_USER_ID_ as starter,
        c.createtime,c.map_json,c.data_json,c.title,d.BUSINESS_KEY_ as id,d.END_TIME_ as endtime,e.form_type,e.form_url from act_ru_task a left join act_ru_identitylink b
        on a.ID_=b.TASK_ID_ left join ac_sl_generwork c on a.PROC_INST_ID_=c.proce_inst_id
        left join act_hi_procinst d on a.PROC_INST_ID_=d.PROC_INST_ID_ left join ac_sl_flowelementattrs e on a.TASK_DEF_KEY_=e.task_def_key
        where  (d.delete_reason_ !='deleteTask' or d.delete_reason_ IS NULL)
        <if test="title!=null and title!=''">
            and c.title like concat('%',#{title},'%')
        </if>
        <if test="userid!=null and userid!=''">
            and b.USER_ID_=#{userid}
        </if>
        order by c.createtime DESC LIMIT #{page},#{pagesize}
    </select>
    <select id="getTaskManageList" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.PROC_INST_ID_ as proce_inst_id, a.ID_ as taskid,d.NAME_ as flowName,a.NAME_ as taskName,d.START_USER_ID_ as starter,
        c.createtime,d.BUSINESS_KEY_ as id,d.END_TIME_ as endtime from act_ru_task a left join act_ru_identitylink b
        on a.ID_=b.TASK_ID_ left join ac_sl_generwork c on a.PROC_INST_ID_=c.proce_inst_id
        left join act_hi_procinst d on a.PROC_INST_ID_=d.PROC_INST_ID_ where  (d.delete_reason_ !='deleteTask' or d.delete_reason_ IS NULL)
        <if test="title!=null and title!=''">
            and c.title like concat('%',#{title},'%')
        </if>
        <if test="userid!=null and userid!=''">
            and b.USER_ID_=#{userid}
        </if>
--         GROUP BY a.PROC_INST_ID_
    </select>
    <select id="getTaskManageByActType" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.PROC_INST_ID_ as proce_inst_id, a.ID_ as taskid from act_ru_task a left join act_hi_actinst b on a.ID_=b.TASK_ID_
                                                                                    where 1=1
        <if test="processKey!='all'">
            and a.PROC_DEF_ID_ in(select ID_ from act_re_procdef where KEY_=#{processKey})
        </if>
        <if test="act_type!=null and act_type!='' and act_type!='all'">
            and b.ACT_TYPE_ =#{act_type}
        </if>
    </select>
    <select id="getTaskManageBar" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.ID_,b.ACT_TYPE_,c.KEY_,c.NAME_ from act_ru_task a left join act_hi_actinst b
            on a.ID_=b.TASK_ID_ left join act_re_procdef c on a.PROC_DEF_ID_=c.ID_
        where 1=1
        <if test="processKey!='all'">
            and a.PROC_DEF_ID_ in(select ID_ from act_re_procdef where KEY_=#{processKey})
        </if>
        <if test="act_type!=null and act_type!=''">
            and b.ACT_TYPE_ =#{act_type}
        </if>
    </select>
    <select id="processManageListPage" parameterType="com.activiti.z_six.entity.process.ProcessManage"
            resultType="com.activiti.z_six.entity.process.ProcessManage">
        select a.proc_inst_id_,a.business_key_,a.name_,a.start_time_,a.start_user_id_,a.end_time_,
        a.delete_reason_,b.title,c.name as startname,d.key_ from act_hi_procinst a
        left join ac_sl_generwork b on a.proc_inst_id_=b.proce_inst_id
        left join sys_user c on a.start_user_id_=c.username
        left join act_re_procdef d on a.proc_def_id_=d.id_
        where 1=1
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ !=''
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='deleteTask'
        </if>
        <if test="flowName!='' and flowName!=null">
            and a.NAME_ like concat('%',#{flowName},'%')
        </if>
        ORDER BY  a.start_time_ DESC LIMIT #{page},#{pagesize}
    </select>
    <select id="getMyStartList" parameterType="com.activiti.z_six.entity.process.ProcessManage"
            resultType="com.activiti.z_six.entity.process.ProcessManage">
        select a.proc_inst_id_,a.business_key_,a.name_,a.start_time_,a.start_user_id_,a.end_time_,
        a.delete_reason_,b.title,c.name as startname,d.key_ from act_hi_procinst a
        left join ac_sl_generwork b on a.proc_inst_id_=b.proce_inst_id
        left join sys_user c on a.start_user_id_=c.username
        left join act_re_procdef d on a.proc_def_id_=d.id_
        where 1=1 and a.start_user_id_=#{username}  and (a.delete_reason_ !='deleteTask'
        or a.delete_reason_ ='' or a.delete_reason_ IS NULL or a.delete_reason_='refuse')
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ !=''
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='refuse'
        </if>
        <if test="flowName!='' and flowName!=null">
            and a.name_ like concat('%',#{flowName},'%')
        </if>
        ORDER BY  a.start_time_ DESC
    </select>
    <select id="getMyStartListPage" parameterType="com.activiti.z_six.entity.process.ProcessManage"
            resultType="com.activiti.z_six.entity.process.ProcessManage">
        select a.proc_inst_id_,a.business_key_,a.name_,a.start_time_,a.start_user_id_,a.end_time_,
        a.delete_reason_,b.title,c.name as startname,d.key_ from act_hi_procinst a
        left join ac_sl_generwork b on a.proc_inst_id_=b.proce_inst_id
        left join sys_user c on a.start_user_id_=c.username
        left join act_re_procdef d on a.proc_def_id_=d.id_
        where 1=1 and a.start_user_id_=#{username} and (a.delete_reason_ !='deleteTask'
            or a.delete_reason_ ='' or a.delete_reason_ IS NULL or a.delete_reason_='refuse')
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ !=''
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='refuse'
        </if>
        <if test="flowName!='' and flowName!=null">
            and a.name_ like concat('%',#{flowName},'%')
        </if>
        ORDER BY  a.start_time_ DESC LIMIT #{page},#{pagesize}
    </select>
    <select id="getMyStartRefuseList" parameterType="com.activiti.z_six.entity.process.ProcessManage"
            resultType="com.activiti.z_six.entity.process.ProcessManage">
        select a.proc_inst_id_,a.business_key_,a.name_,a.start_time_,a.start_user_id_,a.end_time_,
        a.delete_reason_,b.title,c.name as startname,d.key_ from act_hi_procinst a
        left join ac_sl_generwork b on a.proc_inst_id_=b.proce_inst_id
        left join sys_user c on a.start_user_id_=c.username
        left join act_re_procdef d on a.proc_def_id_=d.id_
        where 1=1 and a.start_user_id_=#{username}  and a.delete_reason_='refuse'
    </select>
    <select id="getMyProcessPage" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        SELECT * FROM(
        select a.START_USER_ID_ as starter,a.NAME_ as flowName,a.END_TIME_ as endtime,
        a.PROC_INST_ID_ as proce_inst_id,b.createtime,b.title,
        a.BUSINESS_KEY_ as id,b.map_json,b.data_json,c.ACT_TYPE_ as act_type,d.form_type,d.form_url,
        ROW_NUMBER() OVER(PARTITION BY a.PROC_INST_ID_) rn from act_hi_procinst a
        left join ac_sl_generwork b on a.PROC_INST_ID_=b.proce_inst_id
        left join (select ACT_TYPE_,PROC_INST_ID_,ACT_ID_ from act_hi_actinst where ASSIGNEE_=#{username} order by
        END_TIME_ ) c
        on a.PROC_INST_ID_=c.PROC_INST_ID_ left join ac_sl_flowelementattrs d on c.ACT_ID_=d.task_def_key
        where a.PROC_INST_ID_ in(select PROC_INST_ID_ from act_hi_actinst where ASSIGNEE_=#{username})
        and (a.delete_reason_ !='deleteTask' or a.delete_reason_ =''
        or a.delete_reason_ IS NULL or a.delete_reason_='refuse' )
        <if test="flowName!=null and flowName!=''">
            and a.NAME_ like concat('%',#{flowName},'%')
        </if>
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ IS NOT NULL
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='refuse'
        </if>) AS subq
        WHERE rn=1
--         GROUP BY a.PROC_INST_ID_
        ORDER BY createtime DESC LIMIT #{pageNum},#{pagesize}
    </select>
    <select id="getMyProcessList" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.START_USER_ID_ as starter,a.NAME_ as flowName,a.END_TIME_ as endtime,
        a.PROC_INST_ID_ as proce_inst_id,b.createtime,
        a.BUSINESS_KEY_ as id from act_hi_procinst a
        left join  ac_sl_generwork b on a.PROC_INST_ID_=b.proce_inst_id
        where a.PROC_INST_ID_ in(select PROC_INST_ID_ from act_hi_actinst where ASSIGNEE_=#{username})
        and (a.delete_reason_ !='deleteTask' or a.delete_reason_ =''
        or a.delete_reason_ IS NULL or a.delete_reason_='refuse')
        <if test="flowName!=null and flowName!='' ">
            and a.NAME_ like concat('%',#{flowName},'%')
        </if>
        <if test="title!=null and title!=''">
            and b.title like concat('%',#{title},'%')
        </if>
        <if test="state=='0'.toString() ">
            and a.end_time_ IS NULL
        </if>
        <if test="state=='1'.toString()">
            and a.end_time_ IS NOT NULL
        </if>
        <if test="state=='2'.toString()">
            and a.delete_reason_ ='refuse'
        </if>
    </select>
    <select id="getMyProcessRefuse" parameterType="com.activiti.z_six.entity.taskAssignee.GenerWork"
            resultType="com.activiti.z_six.entity.taskAssignee.GenerWork">
        select a.START_USER_ID_ as starter,a.NAME_ as flowName,a.END_TIME_ as endtime,
        a.PROC_INST_ID_ as proce_inst_id,b.createtime,
        a.BUSINESS_KEY_ as id from act_hi_procinst a
        left join  ac_sl_generwork b on a.PROC_INST_ID_=b.proce_inst_id
        where (a.PROC_INST_ID_ in(select PROC_INST_ID_ from act_hi_actinst where ASSIGNEE_=#{username})
        or a.start_user_id_=#{username})
        and a.delete_reason_='refuse'

    </select>
</mapper>